Importing, Cleaning, and Preparing Zomato Delivery Data for Analysis

In [1]:
import pandas as pd

1. Importing Data and Setting Options

In [3]:
# Define the CSV file name
file_name = "C:/Users/jsuri/Downloads/D/food/bangalore_zomato_data.csv"

# Read the CSV file with specific data types
data = pd.read_csv(file_name, dtype={'Order_Date': 'string', 'Time_Orderd': 'string', 'Time_Order_picked': 'string'})

# Display the first few rows
print(data.head())

   Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
0            12.949934             77.699386                   13.015377
1            12.949934             77.699386                   12.944179
2            12.949934             77.699386                   13.019096
3            12.949934             77.699386                   13.018453
4            12.949934             77.699386                   13.044179

   Delivery_location_longitude  Order_Date Time_Orderd Time_Order_picked  \
0                    77.736664  15-03-2022       14:40             14:50
1                    77.625797  30-03-2022       10:40             10:50
2                    77.680625    3/3/2022       15:35             15:40
3                    77.683685  26-03-2022       15:30             15:45
4                    77.725797    6/4/2022       19:35             19:40

  Weather_conditions Road_traffic_density  Vehicle_condition Type_of_order  \
0                Fog                 High                  0        Drinks
1                Fog                  Low                  0          Meal
2              Sunny               Medium                  2         Snack
3             Stormy               Medium                  0         Snack
4             Cloudy                  Jam                  0          Meal

    Type_of_vehicle  multiple_deliveries Festival           City  \
0        motorcycle                    0       No  Metropolitian
1        motorcycle                    0       No  Metropolitian
2  electric_scooter                    1       No          Urban
3        motorcycle                    1       No  Metropolitian
4        motorcycle                    3       No          Urban

   Time_taken_min
0              21
1              27
2              15
3              16
4              48

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          32 non-null     float64
 1   Restaurant_longitude         32 non-null     float64
 2   Delivery_location_latitude   32 non-null     float64
 3   Delivery_location_longitude  32 non-null     float64
 4   Order_Date                   32 non-null     string
 5   Time_Orderd                  30 non-null     string
 6   Time_Order_picked            32 non-null     string
 7   Weather_conditions           32 non-null     object
 8   Road_traffic_density         32 non-null     object
 9   Vehicle_condition            32 non-null     int64
 10  Type_of_order                32 non-null     object
 11  Type_of_vehicle              32 non-null     object
 12  multiple_deliveries          32 non-null     int64
 13  Festival                     32 non-null     object
 14  City                         31 non-null     object
 15  Time_taken_min               32 non-null     int64
dtypes: float64(4), int64(3), object(6), string(3)
memory usage: 4.1+ KB

2. Converting Order Date

In [9]:
# Convert Order_Date to datetime format (handling different formats)
data['Order_Date'] = pd.to_datetime(data['Order_Date'], format='%d-%m-%Y', errors='coerce')

In [19]:
# Identify invalid/missing dates
invalid_dates = data['Order_Date'].isna()

In [21]:
# Convert invalid dates using an alternative format
data.loc[invalid_dates, 'Order_Date'] = pd.to_datetime(data.loc[invalid_dates, 'Order_Date'], format='%m/%d/%Y', errors='coerce')

In [23]:
print(data.head())

   Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
0            12.949934             77.699386                   13.015377
1            12.949934             77.699386                   12.944179
2            12.949934             77.699386                   13.019096
3            12.949934             77.699386                   13.018453
4            12.949934             77.699386                   13.044179

   Delivery_location_longitude Order_Date Time_Orderd Time_Order_picked  \
0                    77.736664 2022-03-15       14:40             14:50
1                    77.625797 2022-03-30       10:40             10:50
2                    77.680625        NaT       15:35             15:40
3                    77.683685 2022-03-26       15:30             15:45
4                    77.725797        NaT       19:35             19:40

  Weather_conditions Road_traffic_density  Vehicle_condition Type_of_order  \
0                Fog                 High                  0        Drinks
1                Fog                  Low                  0          Meal
2              Sunny               Medium                  2         Snack
3             Stormy               Medium                  0         Snack
4             Cloudy                  Jam                  0          Meal

    Type_of_vehicle  multiple_deliveries Festival           City  \
0        motorcycle                    0       No  Metropolitian
1        motorcycle                    0       No  Metropolitian
2  electric_scooter                    1       No          Urban
3        motorcycle                    1       No  Metropolitian
4        motorcycle                    3       No          Urban

   Time_taken_min
0              21
1              27
2              15
3              16
4              48

In [25]:
data['Order_Date'].value_counts().sum()

18

In [29]:
data['Order_Date'].fillna(method='ffill', inplace=True)  # Forward Fill

C:\Users\jsuri\AppData\Local\Temp\ipykernel_22180\3887877797.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['Order_Date'].fillna(method='ffill', inplace=True)  # Forward Fill

In [31]:
data['Order_Date'].fillna(method='bfill', inplace=True)  # Backward Fill

C:\Users\jsuri\AppData\Local\Temp\ipykernel_22180\3310050800.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['Order_Date'].fillna(method='bfill', inplace=True)  # Backward Fill

In [33]:
data['Order_Date'].value_counts().sum()

32

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          32 non-null     float64
 1   Restaurant_longitude         32 non-null     float64
 2   Delivery_location_latitude   32 non-null     float64
 3   Delivery_location_longitude  32 non-null     float64
 4   Order_Date                   32 non-null     datetime64[ns]
 5   Time_Orderd                  30 non-null     string
 6   Time_Order_picked            32 non-null     string
 7   Weather_conditions           32 non-null     object
 8   Road_traffic_density         32 non-null     object
 9   Vehicle_condition            32 non-null     int64
 10  Type_of_order                32 non-null     object
 11  Type_of_vehicle              32 non-null     object
 12  multiple_deliveries          32 non-null     int64
 13  Festival                     32 non-null     object
 14  City                         31 non-null     object
 15  Time_taken_min               32 non-null     int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(6), string(2)
memory usage: 4.1+ KB

3. Converting Order and picked time

In [37]:
import numpy as np

In [39]:
# Convert 'Time_Orderd' and 'Time_Order_picked' to datetime format (HH:mm)
data['Time_Orderd'] = pd.to_datetime(data['Time_Orderd'], format='%H:%M', errors='coerce')
data['Time_Order_picked'] = pd.to_datetime(data['Time_Order_picked'], format='%H:%M', errors='coerce')

In [41]:
# Handle missing values by replacing them with NaT (same as MATLAB)
data['Time_Order_picked'].fillna(pd.NaT, inplace=True)

C:\Users\jsuri\AppData\Local\Temp\ipykernel_22180\3643637451.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Time_Order_picked'].fillna(pd.NaT, inplace=True)

In [46]:
# Handle numeric time values that might have slipped through
# Convert non-null, non-string values to numeric and then to datetime
numeric_times = data['Time_Order_picked'].dropna().apply(lambda x: str(x).replace(":", "")).str.isnumeric()
numeric_values = pd.to_numeric(data.loc[numeric_times.index, 'Time_Order_picked'], errors='coerce')

In [54]:
data['Time_Order_picked'].value_counts().sum()

29

In [58]:
data['Time_Orderd'].value_counts().sum()

27

In [69]:
data['Time_Orderd']

0    1900-01-01 14:40:00
1    1900-01-01 10:40:00
2    1900-01-01 15:35:00
3    1900-01-01 15:30:00
4    1900-01-01 19:35:00
5    1900-01-01 21:25:00
6    1900-01-01 22:45:00
7    1900-01-01 13:25:00
8    1900-01-01 23:25:00
9    1900-01-01 18:10:00
10                   NaT
11   1900-01-01 23:30:00
12   1900-01-01 17:40:00
13   1900-01-01 10:25:00
14                   NaT
15                   NaT
16   1900-01-01 17:20:00
17   1900-01-01 22:50:00
18   1900-01-01 23:55:00
19   1900-01-01 22:30:00
20   1900-01-01 19:45:00
21   1900-01-01 20:35:00
22   1900-01-01 21:40:00
23   1900-01-01 08:10:00
24   1900-01-01 17:15:00
25   1900-01-01 21:55:00
26   1900-01-01 17:45:00
27   1900-01-01 20:25:00
28                   NaT
29                   NaT
30   1900-01-01 19:35:00
31   1900-01-01 11:35:00
Name: Time_Orderd, dtype: datetime64[ns]

In [71]:
data['Time_Order_picked']

0    1900-01-01 14:50:00
1    1900-01-01 10:50:00
2    1900-01-01 15:40:00
3    1900-01-01 15:45:00
4    1900-01-01 19:40:00
5    1900-01-01 21:35:00
6                    NaT
7    1900-01-01 13:40:00
8    1900-01-01 23:35:00
9    1900-01-01 18:20:00
10   1900-01-01 22:35:00
11   1900-01-01 23:45:00
12   1900-01-01 17:50:00
13   1900-01-01 10:40:00
14   1900-01-01 17:25:00
15   1900-01-01 22:05:00
16   1900-01-01 17:35:00
17                   NaT
18                   NaT
19   1900-01-01 22:35:00
20   1900-01-01 19:55:00
21   1900-01-01 20:50:00
22   1900-01-01 21:55:00
23   1900-01-01 08:15:00
24   1900-01-01 17:30:00
25   1900-01-01 22:10:00
26   1900-01-01 17:55:00
27   1900-01-01 20:40:00
28   1900-01-01 11:10:00
29   1900-01-01 18:10:00
30   1900-01-01 19:40:00
31   1900-01-01 11:40:00
Name: Time_Order_picked, dtype: datetime64[ns]

In [73]:
# Fill missing Time_Orderd using Time_Order_picked - 10 minutes
data['Time_Orderd'] = data.apply(
    lambda row: row['Time_Order_picked'] - pd.Timedelta(minutes=10) if pd.isna(row['Time_Orderd']) else row['Time_Orderd'],
    axis=1
)

In [75]:
# Fill missing Time_Order_picked using Time_Orderd + 10 minutes
data['Time_Order_picked'] = data.apply(
    lambda row: row['Time_Orderd'] + pd.Timedelta(minutes=10) if pd.isna(row['Time_Order_picked']) else row['Time_Order_picked'],
    axis=1
)

In [77]:
print(data[['Time_Orderd', 'Time_Order_picked']].head())

          Time_Orderd   Time_Order_picked
0 1900-01-01 14:40:00 1900-01-01 14:50:00
1 1900-01-01 10:40:00 1900-01-01 10:50:00
2 1900-01-01 15:35:00 1900-01-01 15:40:00
3 1900-01-01 15:30:00 1900-01-01 15:45:00
4 1900-01-01 19:35:00 1900-01-01 19:40:00

In [79]:
data['Time_Orderd']

0    1900-01-01 14:40:00
1    1900-01-01 10:40:00
2    1900-01-01 15:35:00
3    1900-01-01 15:30:00
4    1900-01-01 19:35:00
5    1900-01-01 21:25:00
6    1900-01-01 22:45:00
7    1900-01-01 13:25:00
8    1900-01-01 23:25:00
9    1900-01-01 18:10:00
10   1900-01-01 22:25:00
11   1900-01-01 23:30:00
12   1900-01-01 17:40:00
13   1900-01-01 10:25:00
14   1900-01-01 17:15:00
15   1900-01-01 21:55:00
16   1900-01-01 17:20:00
17   1900-01-01 22:50:00
18   1900-01-01 23:55:00
19   1900-01-01 22:30:00
20   1900-01-01 19:45:00
21   1900-01-01 20:35:00
22   1900-01-01 21:40:00
23   1900-01-01 08:10:00
24   1900-01-01 17:15:00
25   1900-01-01 21:55:00
26   1900-01-01 17:45:00
27   1900-01-01 20:25:00
28   1900-01-01 11:00:00
29   1900-01-01 18:00:00
30   1900-01-01 19:35:00
31   1900-01-01 11:35:00
Name: Time_Orderd, dtype: datetime64[ns]

In [81]:
data['Time_Order_picked']

0    1900-01-01 14:50:00
1    1900-01-01 10:50:00
2    1900-01-01 15:40:00
3    1900-01-01 15:45:00
4    1900-01-01 19:40:00
5    1900-01-01 21:35:00
6    1900-01-01 22:55:00
7    1900-01-01 13:40:00
8    1900-01-01 23:35:00
9    1900-01-01 18:20:00
10   1900-01-01 22:35:00
11   1900-01-01 23:45:00
12   1900-01-01 17:50:00
13   1900-01-01 10:40:00
14   1900-01-01 17:25:00
15   1900-01-01 22:05:00
16   1900-01-01 17:35:00
17   1900-01-01 23:00:00
18   1900-01-02 00:05:00
19   1900-01-01 22:35:00
20   1900-01-01 19:55:00
21   1900-01-01 20:50:00
22   1900-01-01 21:55:00
23   1900-01-01 08:15:00
24   1900-01-01 17:30:00
25   1900-01-01 22:10:00
26   1900-01-01 17:55:00
27   1900-01-01 20:40:00
28   1900-01-01 11:10:00
29   1900-01-01 18:10:00
30   1900-01-01 19:40:00
31   1900-01-01 11:40:00
Name: Time_Order_picked, dtype: datetime64[ns]

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          32 non-null     float64
 1   Restaurant_longitude         32 non-null     float64
 2   Delivery_location_latitude   32 non-null     float64
 3   Delivery_location_longitude  32 non-null     float64
 4   Order_Date                   32 non-null     datetime64[ns]
 5   Time_Orderd                  32 non-null     datetime64[ns]
 6   Time_Order_picked            32 non-null     datetime64[ns]
 7   Weather_conditions           32 non-null     object
 8   Road_traffic_density         32 non-null     object
 9   Vehicle_condition            32 non-null     int64
 10  Type_of_order                32 non-null     object
 11  Type_of_vehicle              32 non-null     object
 12  multiple_deliveries          32 non-null     int64
 13  Festival                     32 non-null     object
 14  City                         31 non-null     object
 15  Time_taken_min               32 non-null     int64
dtypes: datetime64[ns](3), float64(4), int64(3), object(6)
memory usage: 4.1+ KB

4. Converting latitude and longitude

In [85]:
# Convert latitude and longitude columns to numeric format
geo_vars = ['Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude']
for var in geo_vars:
    data[var] = pd.to_numeric(data[var], errors='coerce')  # Convert to numeric, setting invalid values to NaN

In [90]:
# Latitude should be between -90 and 90, Longitude should be between -180 and 180
data['Restaurant_latitude'] = data['Restaurant_latitude'].apply(lambda x: np.nan if x < -90 or x > 90 else x)
data['Delivery_location_latitude'] = data['Delivery_location_latitude'].apply(lambda x: np.nan if x < -90 or x > 90 else x)
data['Restaurant_longitude'] = data['Restaurant_longitude'].apply(lambda x: np.nan if x < -180 or x > 180 else x)
data['Delivery_location_longitude'] = data['Delivery_location_longitude'].apply(lambda x: np.nan if x < -180 or x > 180 else x)

In [92]:
print(data[geo_vars].head())

   Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
0            12.949934             77.699386                   13.015377
1            12.949934             77.699386                   12.944179
2            12.949934             77.699386                   13.019096
3            12.949934             77.699386                   13.018453
4            12.949934             77.699386                   13.044179

   Delivery_location_longitude
0                    77.736664
1                    77.625797
2                    77.680625
3                    77.683685
4                    77.725797

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          32 non-null     float64
 1   Restaurant_longitude         32 non-null     float64
 2   Delivery_location_latitude   32 non-null     float64
 3   Delivery_location_longitude  32 non-null     float64
 4   Order_Date                   32 non-null     datetime64[ns]
 5   Time_Orderd                  32 non-null     datetime64[ns]
 6   Time_Order_picked            32 non-null     datetime64[ns]
 7   Weather_conditions           32 non-null     object
 8   Road_traffic_density         32 non-null     object
 9   Vehicle_condition            32 non-null     int64
 10  Type_of_order                32 non-null     object
 11  Type_of_vehicle              32 non-null     object
 12  multiple_deliveries          32 non-null     int64
 13  Festival                     32 non-null     object
 14  City                         31 non-null     object
 15  Time_taken_min               32 non-null     int64
dtypes: datetime64[ns](3), float64(4), int64(3), object(6)
memory usage: 4.1+ KB

5. Handling categorical variables

In [96]:
# Define categorical columns
cat_vars = ['Weather_conditions', 'Road_traffic_density', 'Vehicle_condition', 
            'Type_of_order', 'Type_of_vehicle', 'City', 'Festival']

In [98]:
# Convert to categorical and replace missing values
for var in cat_vars:
    data[var] = data[var].astype('category')  # Convert to categorical type
    data[var] = data[var].replace(['', 'NaN', np.nan], np.nan)  # Standardize missing values

In [100]:
print(data[cat_vars].head())

  Weather_conditions Road_traffic_density Vehicle_condition Type_of_order  \
0                Fog                 High                 0        Drinks
1                Fog                  Low                 0          Meal
2              Sunny               Medium                 2         Snack
3             Stormy               Medium                 0         Snack
4             Cloudy                  Jam                 0          Meal

    Type_of_vehicle           City Festival
0        motorcycle  Metropolitian       No
1        motorcycle  Metropolitian       No
2  electric_scooter          Urban       No
3        motorcycle  Metropolitian       No
4        motorcycle          Urban       No

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          32 non-null     float64
 1   Restaurant_longitude         32 non-null     float64
 2   Delivery_location_latitude   32 non-null     float64
 3   Delivery_location_longitude  32 non-null     float64
 4   Order_Date                   32 non-null     datetime64[ns]
 5   Time_Orderd                  32 non-null     datetime64[ns]
 6   Time_Order_picked            32 non-null     datetime64[ns]
 7   Weather_conditions           32 non-null     category
 8   Road_traffic_density         32 non-null     category
 9   Vehicle_condition            32 non-null     category
 10  Type_of_order                32 non-null     category
 11  Type_of_vehicle              32 non-null     category
 12  multiple_deliveries          32 non-null     int64
 13  Festival                     32 non-null     category
 14  City                         31 non-null     category
 15  Time_taken_min               32 non-null     int64
dtypes: category(7), datetime64[ns](3), float64(4), int64(2)
memory usage: 3.7 KB

6. Handling Numeric columns

In [104]:
# Convert columns to numeric type
numeric_cols = ['multiple_deliveries', 'Time_taken_min']
for col in numeric_cols:
    data[col] = pd.to_numeric(data[col], errors='coerce')  # Convert to numeric, handling errors
    data[col] = data[col].apply(lambda x: np.nan if x < 0 else x)  # Replace negative values with NaN

In [106]:
print(data[numeric_cols].head())

   multiple_deliveries  Time_taken_min
0                    0              21
1                    0              27
2                    1              15
3                    1              16
4                    3              48

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          32 non-null     float64
 1   Restaurant_longitude         32 non-null     float64
 2   Delivery_location_latitude   32 non-null     float64
 3   Delivery_location_longitude  32 non-null     float64
 4   Order_Date                   32 non-null     datetime64[ns]
 5   Time_Orderd                  32 non-null     datetime64[ns]
 6   Time_Order_picked            32 non-null     datetime64[ns]
 7   Weather_conditions           32 non-null     category
 8   Road_traffic_density         32 non-null     category
 9   Vehicle_condition            32 non-null     category
 10  Type_of_order                32 non-null     category
 11  Type_of_vehicle              32 non-null     category
 12  multiple_deliveries          32 non-null     int64
 13  Festival                     32 non-null     category
 14  City                         31 non-null     category
 15  Time_taken_min               32 non-null     int64
dtypes: category(7), datetime64[ns](3), float64(4), int64(2)
memory usage: 3.7 KB

In [115]:
data['City']

0     Metropolitian
1     Metropolitian
2             Urban
3     Metropolitian
4             Urban
5     Metropolitian
6     Metropolitian
7     Metropolitian
8     Metropolitian
9     Metropolitian
10            Urban
11    Metropolitian
12    Metropolitian
13    Metropolitian
14    Metropolitian
15    Metropolitian
16    Metropolitian
17            Urban
18    Metropolitian
19              NaN
20    Metropolitian
21            Urban
22    Metropolitian
23            Urban
24    Metropolitian
25    Metropolitian
26    Metropolitian
27            Urban
28    Metropolitian
29    Metropolitian
30    Metropolitian
31    Metropolitian
Name: City, dtype: category
Categories (2, object): ['Metropolitian', 'Urban']

In [117]:

data['City'] = data['City'].fillna(method='ffill')

C:\Users\jsuri\AppData\Local\Temp\ipykernel_22180\4288509837.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['City'] = data['City'].fillna(method='ffill')

In [119]:
data['City'].value_counts()

City
Metropolitian    25
Urban             7
Name: count, dtype: int64

7. Calculating time difference

In [121]:
# Calculate Time_Difference in minutes
data['Time_Difference'] = (data['Time_Order_picked'] - data['Time_Orderd']).dt.total_seconds() / 60

In [123]:
# Adjust negative time differences (Assumption: Orders crossing midnight)
data.loc[data['Time_Difference'] < 0, 'Time_Difference'] += 1440  # 1440 minutes = 24 hours

In [125]:
# Impute missing values in Time_Difference with 0 (assuming 0 minutes if missing)
data['Time_Difference'] = data['Time_Difference'].fillna(0)

In [127]:
# Check for missing values after imputation
print(data['Time_Difference'].isnull().sum())

0

In [131]:
data['Time_Difference'].value_counts()

Time_Difference
10.0    16
15.0    10
5.0      6
Name: count, dtype: int64

In [133]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          32 non-null     float64
 1   Restaurant_longitude         32 non-null     float64
 2   Delivery_location_latitude   32 non-null     float64
 3   Delivery_location_longitude  32 non-null     float64
 4   Order_Date                   32 non-null     datetime64[ns]
 5   Time_Orderd                  32 non-null     datetime64[ns]
 6   Time_Order_picked            32 non-null     datetime64[ns]
 7   Weather_conditions           32 non-null     category
 8   Road_traffic_density         32 non-null     category
 9   Vehicle_condition            32 non-null     category
 10  Type_of_order                32 non-null     category
 11  Type_of_vehicle              32 non-null     category
 12  multiple_deliveries          32 non-null     int64
 13  Festival                     32 non-null     category
 14  City                         32 non-null     category
 15  Time_taken_min               32 non-null     int64
 16  Time_Difference              32 non-null     float64
dtypes: category(7), datetime64[ns](3), float64(5), int64(2)
memory usage: 4.0 KB

8. Extracting order hour

In [135]:
# Extract the hour from 'Time_Orderd'
data['Order_Hour'] = data['Time_Orderd'].dt.hour

In [137]:
# Impute missing values with 0
data['Order_Hour'].fillna(0, inplace=True)  # Assuming missing values should be replaced with 0

C:\Users\jsuri\AppData\Local\Temp\ipykernel_22180\1546034075.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Order_Hour'].fillna(0, inplace=True)  # Assuming missing values should be replaced with 0

In [143]:
data['Order_Hour'].value_counts().sum()

32

In [145]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          32 non-null     float64
 1   Restaurant_longitude         32 non-null     float64
 2   Delivery_location_latitude   32 non-null     float64
 3   Delivery_location_longitude  32 non-null     float64
 4   Order_Date                   32 non-null     datetime64[ns]
 5   Time_Orderd                  32 non-null     datetime64[ns]
 6   Time_Order_picked            32 non-null     datetime64[ns]
 7   Weather_conditions           32 non-null     category
 8   Road_traffic_density         32 non-null     category
 9   Vehicle_condition            32 non-null     category
 10  Type_of_order                32 non-null     category
 11  Type_of_vehicle              32 non-null     category
 12  multiple_deliveries          32 non-null     int64
 13  Festival                     32 non-null     category
 14  City                         32 non-null     category
 15  Time_taken_min               32 non-null     int64
 16  Time_Difference              32 non-null     float64
 17  Order_Hour                   32 non-null     int32
dtypes: category(7), datetime64[ns](3), float64(5), int32(1), int64(2)
memory usage: 4.1 KB

9.Calculating Distance Using Haversine Formula

In [147]:
import numpy as np

# Radius of the Earth in kilometers
R = 6371  

# Convert degrees to radians
lat1 = np.radians(data["Restaurant_latitude"])
lon1 = np.radians(data["Restaurant_longitude"])
lat2 = np.radians(data["Delivery_location_latitude"])
lon2 = np.radians(data["Delivery_location_longitude"])

# Compute differences
dlat = lat2 - lat1
dlon = lon2 - lon1

# Haversine formula
a = np.sin(dlat / 2) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2) ** 2
c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

# Compute distance
data["Distance"] = R * c  # Distance in kilometers

10.Sample for testing the haversine formula

In [149]:
import numpy as np

def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Radius of the Earth in kilometers

    # Convert degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    # Compute differences
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine formula
    a = np.sin(dlat / 2) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    return R * c  # Distance in kilometers

# Test with sample values
lat1, lon1 = 12.9716, 77.5946  # Bangalore
lat2, lon2 = 13.0358, 77.5970  # Another location in Bangalore

distance = haversine(lat1, lon1, lat2, lon2)
print(f"Calculated Distance: {distance:.2f} km")

Calculated Distance: 7.14 km

11.One-Hot Encoding Categorical Variables

In [155]:
# List of categorical variables to one-hot encode
categorical_vars = ['Weather_conditions', 'Road_traffic_density', 'Vehicle_condition', 
                    'Type_of_order', 'Type_of_vehicle']

In [157]:
# Perform one-hot encoding
data = pd.get_dummies(data, columns=categorical_vars, prefix=categorical_vars)

In [162]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 34 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Restaurant_latitude               32 non-null     float64
 1   Restaurant_longitude              32 non-null     float64
 2   Delivery_location_latitude        32 non-null     float64
 3   Delivery_location_longitude       32 non-null     float64
 4   Order_Date                        32 non-null     datetime64[ns]
 5   Time_Orderd                       32 non-null     datetime64[ns]
 6   Time_Order_picked                 32 non-null     datetime64[ns]
 7   multiple_deliveries               32 non-null     int64
 8   Festival                          32 non-null     category
 9   City                              32 non-null     category
 10  Time_taken_min                    32 non-null     int64
 11  Time_Difference                   32 non-null     float64
 12  Order_Hour                        32 non-null     int32
 13  Distance                          32 non-null     float64
 14  Weather_conditions_Cloudy         32 non-null     bool
 15  Weather_conditions_Fog            32 non-null     bool
 16  Weather_conditions_Sandstorms     32 non-null     bool
 17  Weather_conditions_Stormy         32 non-null     bool
 18  Weather_conditions_Sunny          32 non-null     bool
 19  Weather_conditions_Windy          32 non-null     bool
 20  Road_traffic_density_High         32 non-null     bool
 21  Road_traffic_density_Jam          32 non-null     bool
 22  Road_traffic_density_Low          32 non-null     bool
 23  Road_traffic_density_Medium       32 non-null     bool
 24  Vehicle_condition_0               32 non-null     bool
 25  Vehicle_condition_1               32 non-null     bool
 26  Vehicle_condition_2               32 non-null     bool
 27  Type_of_order_Buffet              32 non-null     bool
 28  Type_of_order_Drinks              32 non-null     bool
 29  Type_of_order_Meal                32 non-null     bool
 30  Type_of_order_Snack               32 non-null     bool
 31  Type_of_vehicle_electric_scooter  32 non-null     bool
 32  Type_of_vehicle_motorcycle        32 non-null     bool
 33  Type_of_vehicle_scooter           32 non-null     bool
dtypes: bool(20), category(2), datetime64[ns](3), float64(6), int32(1), int64(2)
memory usage: 3.9 KB

12. Final cleaning and Exporting dataset

In [164]:
# Drop unnecessary columns
data = data.drop(columns=['Festival', 'City', 'Order_Date', 'Time_Orderd', 'Time_Order_picked'])

In [166]:
# Export cleaned data to a CSV file
data.to_csv('cleaned_bangalore_zomato_data.csv', index=False)

load the cleaned bangalore zomato dataset

In [176]:
df = pd.read_csv("C:/Users/jsuri/Downloads/D/food/cleaned_bangalore_zomato_data.csv")

In [178]:
df

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,multiple_deliveries,Time_taken_min,Time_Difference,Order_Hour,Distance,Weather_conditions_Cloudy,...,Vehicle_condition_0,Vehicle_condition_1,Vehicle_condition_2,Type_of_order_Buffet,Type_of_order_Drinks,Type_of_order_Meal,Type_of_order_Snack,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter
0,12.949934,77.699386,13.015377,77.736664,0,21,10.0,14,8.322774,False,...,True,False,False,False,True,False,False,False,True,False
1,12.949934,77.699386,12.944179,77.625797,0,27,10.0,10,8.000332,False,...,True,False,False,False,False,True,False,False,True,False
2,12.949934,77.699386,13.019096,77.680625,1,15,5.0,15,7.954587,False,...,False,False,True,False,False,False,True,True,False,False
3,12.949934,77.699386,13.018453,77.683685,1,16,15.0,15,7.806589,False,...,True,False,False,False,False,False,True,False,True,False
4,12.949934,77.699386,13.044179,77.725797,3,48,5.0,19,10.863226,True,...,True,False,False,False,False,True,False,False,True,False
5,12.949934,77.699386,12.984179,77.665797,1,29,10.0,21,5.267558,False,...,True,False,False,False,True,False,False,False,True,False
6,12.949934,77.699386,12.994365,77.676155,1,12,10.0,22,5.544825,False,...,False,True,False,True,False,False,False,False,False,True
7,12.949934,77.699386,12.989934,77.739386,1,36,15.0,13,6.210416,False,...,False,False,True,False,False,False,True,False,False,True
8,12.949934,77.699386,13.005662,77.684130,1,40,10.0,23,6.413372,False,...,False,True,False,False,False,True,False,False,True,False
9,12.949934,77.699386,13.063298,77.744293,0,30,10.0,18,13.511847,False,...,False,False,True,False,True,False,False,False,False,True
10,12.949934,77.699386,13.069496,77.755999,0,15,10.0,22,14.641328,False,...,True,False,False,False,True,False,False,False,True,False
11,12.949934,77.699386,13.009496,77.695999,1,27,15.0,23,6.633152,False,...,False,False,True,False,False,False,True,False,False,True
12,12.949934,77.699386,13.009096,77.670625,1,16,10.0,17,7.279327,False,...,False,False,True,False,False,False,True,False,False,True
13,12.949934,77.699386,12.923041,77.693237,0,17,15.0,10,3.063715,False,...,False,False,True,False,True,False,False,False,False,True
14,12.949934,77.699386,12.995662,77.674130,1,10,10.0,17,5.774401,False,...,False,False,True,False,False,True,False,True,False,False
15,12.949934,77.699386,12.984365,77.666155,2,32,10.0,21,5.255874,False,...,True,False,False,False,False,False,True,False,True,False
16,12.949934,77.699386,13.063284,77.745428,0,39,15.0,17,13.555163,False,...,False,True,False,False,False,True,False,False,True,False
17,12.949934,77.699386,13.059166,77.720709,0,20,10.0,22,12.363794,False,...,True,False,False,False,False,False,True,False,True,False
18,12.949934,77.699386,12.993284,77.675428,1,18,10.0,23,5.474911,False,...,False,True,False,False,False,True,False,False,True,False
19,12.949934,77.699386,13.079198,77.620997,1,12,5.0,22,16.694940,False,...,False,True,False,False,False,True,False,False,True,False
20,12.949934,77.699386,13.058453,77.723685,1,39,10.0,19,12.350607,False,...,False,False,True,False,False,False,True,True,False,False
21,12.949934,77.699386,12.936229,77.626791,1,31,15.0,20,8.013345,False,...,False,True,False,False,False,True,False,False,True,False
22,12.949934,77.699386,13.009496,77.695999,1,27,15.0,21,6.633152,False,...,False,False,True,False,True,False,False,True,False,False
23,12.949934,77.699386,13.049198,77.590997,0,16,5.0,8,16.116384,False,...,True,False,False,True,False,False,False,False,True,False
24,12.949934,77.699386,13.013298,77.694293,1,26,15.0,17,7.067333,False,...,False,False,True,False,False,False,True,True,False,False
25,12.949934,77.699386,13.068453,77.733685,1,22,15.0,21,13.692589,False,...,False,True,False,False,False,True,False,False,True,False
26,12.949934,77.699386,13.015662,77.694130,1,32,10.0,17,7.330775,False,...,True,False,False,False,True,False,False,False,True,False
27,12.949934,77.699386,12.999496,77.685999,1,30,15.0,20,5.698748,False,...,False,True,False,False,True,False,False,False,True,False
28,12.949934,77.699386,12.990324,77.665748,1,21,10.0,11,5.784132,False,...,True,False,False,False,False,True,False,False,True,False
29,12.949934,77.699386,13.065662,77.744130,0,25,10.0,18,13.751161,False,...,True,False,False,True,False,False,False,False,True,False
30,12.949934,77.699386,13.050221,77.725396,1,27,5.0,19,11.501968,False,...,False,False,True,True,False,False,False,True,False,False
31,12.949934,77.699386,12.992161,77.616014,1,29,5.0,11,10.181359,False,...,True,False,False,False,True,False,False,False,True,False